.title {
  width: 190px;
  height: 100px;
  /* text-align: center; */
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: rgb(4, 4, 110);
}
.App {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}
/* .title:hover{

} */
.loader {
  /* border: 1px solid #f3f3f3; */
  border-radius: 50%;
  border-top: 5px solid #a0c9e4;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popup {
  width: 800px;
  height: min-content;
  background-image: linear-gradient(
    to right,
    rgb(34, 34, 49),
    rgb(83, 83, 104)
  );
  position: absolute;
  bottom: 200px;
  left: 350px;
  border-radius: 10px;

  padding: 0 20px 20px 20px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.popup > h2 {
  cursor: pointer;
}
.popup-head {
  display: flex;
  justify-content: space-between;
}
.jokes {
  height: min-content;
  padding: 15px;
  text-align: center;
  font-size: 30px;
}
.button > button {
  width: 250px;
  height: 45px;
  background-color: rgb(0, 60, 128);
  color: black;
  font-size: 20px;
}
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.joke-container {
  border: 1px solid black;
}
@media screen and (max-width: 1200px) {
  .popup {
    width: 600px;
    position: absolute;
    bottom: 160px;
    left: 230px;
  }
}

@media screen and (max-width: 970px) {
  .popup {
    width: 400px;
    position: absolute;
    bottom: 130px;
    left: 150px;
  }
}

@media screen and (max-width: 650px) {
  .popup {
    width: min-content;
    position: absolute;
    bottom: 100px;
    left: 150px;
  }
  .title {
    width: min-content;
    height: min-content;
    padding: 20px;
    text-align: center;
  }
}
#h1 {
  text-align: center;
  color: green;
}
